<% @listings.each do |listing| %>
  <div>
    <ul>
      <li>
        <%= listing.title %>
      </li>
      <button><%= link_to "Show", listing_path(listing) %></button>
      <% if current_user.id == listing.user_id %>
        <button><%= link_to "Edit", edit_listing_path(listing) %></button>
        <button><%= link_to "Destroy", listing_path(listing), method: :delete, data: {confirm: "Are you sure?"} %></button>
      <% end %>
    </ul>
  </div>
<% end %>

