<h1> This is the homepage </h1>

<ul>
  <li><%= link_to "Listings", listings_path() %></li>
  <li><%= link_to "Add new listing", new_listing_path()%></li>
  <li><%= link_to "View Breeds", breeds_path()%></li>
  <li><%= link_to "Add new breed", new_breeds_path()%></li>
</ul>